.header {
  grid-area: header;
  background-color: bisque;
}

.headerLogo {
  background-color: bisque;
  width: 60px;
  height: 60px;
}

.headerLoginBlock {
  float: right;
}

.headerLoginBlock a {
  color: black;
}